
.App {
  text-align: center;
  min-height: 100vh;
  flex: 1;
}

.WelcomePage {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 10vh;
  color: #0091ff; 
}

.Content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  /* font-size: 10vh; */
  color: #0091ff; 
}

.TopPanel {
  background-color: #003a65; /* Background color */
  color: #282c34; /* Text color */
  padding: 10px; /* Padding */
  position: fixed; /* Fixed positioning */
  top: 0; /* Position at the top */
  width: 100%;
  z-index: 1000; /* Ensure it's on top of other content */
}

.TopPanel ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  /* white-space: nowrap; */
  width: auto;
  
}

.TopPanel li {
  display: inline-block; /* Display items inline */
  margin-right: 20px; /* Spacing between items */
  cursor: pointer; /* Cursor style */
  font-size: 5vh;

}

.TopPanel li:hover {
  background-color: #003a65;
  color: #0091ff;
  cursor: pointer;
}

.TopPanel li:active{
  transform: translateY(3px);
  color: #00457a;
}

.TopPanel li.active {
  color: #0091ff; /* Change color of active item */
}
button {
  display: inline-block;
  padding: 20px 40px;
  width: auto;
  background-color: #0091ff;
  color: #282c34;
  border: none;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 10vh;
}

button:hover {
  background-color: #003a65;
  color: #0091ff;
  cursor: pointer;
}

button:active {
  transform: translateY(3px);
  color: #00457a;
  background-color: #282c34;
}

.Footer {
  color: #003a65;
  background-color: #282c34;
  margin: 0;
  flex: 0 0 auto;
}
.Footer p {
  background-color: #282c34;
  margin: 0; 

}
