
.App {
  text-align: center;
  min-height: 100vh;
  flex: 1;
  background-color: #282c34;
  max-height: 100vh;
}


.Content {
  background-color: #282c34;
  max-height: 100vh;
  max-width: 100%;
  
}



.TopPanel {
  background-color: #003a65; 
  color: #282c34;
  padding: 10px;
  position: top; 
  top: 0; 
  width: 100%;
  /* z-index: 1000;  */
}

.TopPanel ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  
}

.TopPanel li {
  display: inline-block;
  margin-right: 20px; 
  cursor: pointer;
  font-size: 5vh;

}

.TopPanel li:hover {
  background-color: #003a65;
  color: #0091ff;
  cursor: pointer;
}

.TopPanel li:active{
  color: #00457a;
}


.TopPanel li.active {
  color: #0091ff;
}

