.Introduction {
  background-color: #282c34;
  text-align: left;
  display: flex;
  height: 50vh;
  font-family: 'Arial', sans-serif;
  color: #5fb9ffa7; 
  min-height: 100vh;
  margin-top: 5vh;
  margin-bottom: 0px;
}


.PhotoIntro {
  flex: 2; 
  margin-right: 5%;
  margin-left: 10%;
}

.PhotoIntro img {
  border-radius: 2% ;
  border: 2px solid #5fbaff;
}


.PhotoIntro img {
  max-width: 100%;
  max-height: 100%;
}


.TextZoneIntro {
  flex: 3;
   margin-right: 5%;
  margin-right: 10%;
  size: 100vh;

}

.TextZoneIntro b, h2{

  color: #5fbaff;
}



